.containerHeader {
  padding: 2rem 1.5rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerLeft {
  display: flex;
  align-items: center;
}
.headerLeftSubtitle {
  padding-left: 1.5rem;
}
.headerLink {
}
.headerLink:hover {
  opacity: 0.6;
}
.headerLink:active {
  opacity: 0.2;
}

.divider {
  margin: 0.5rem 1.5rem;
}
