@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@700&family=Montserrat&family=Poppins:wght@600&family=Russo+One&display=swap');

.giudeContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 470px;
  min-width: 500px;
}
.container {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
}
.image {
  min-height: 275px;
  min-width: 205px;
}
.imageLeft {
  background: url('https://gamefi.org/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhome-widget-1.ce116612.png&w=256&q=75')
    center/cover;
}
.imageRight {
  background: url('https://gamefi.org/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhome-widget-2.6dfc9cf8.png&w=256&q=75')
    center/cover;
}

.bannerContainer {
  height: 80px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  min-height: max-content;
  min-width: max-content;
  margin: 10px auto;
}
