.comment_icon {
  position: relative;
  left: 0.58px;
  top: 1.17px;
  /*width: 91.67%;*/
  /*height: 85.42%;*/
  opacity: 1;
  float: left;
}

.heart {
  position: relative;
  /*left: 1.33px;*/
  /*top: 2px;*/
  /*width: 83.33%;*/
  /*height: 77.08%;*/
  opacity: 1;
  color: #e70000;
  float: left;
}

.likeCard {
  position: relative;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*text-align: center;*/
}

.cover {
  position: relative;
  float: left;
  width: 50px;
  height: 95%;
  margin-left: 6px;
}

.liked {
  position: relative;
  float: right;
  width: 50px;
  margin-right: 5px;
}

.articleTile {
  position: relative;
  margin-bottom: 2px;
  margin-top: 2px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
}

.articleOverview {
  position: relative;
  margin-left: 6px;
  margin-right: 6px;
}

.commentNum {
  position: relative;
  margin-left: 1px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1px;
}

.likedNum {
  position: relative;
  margin-left: 1px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
}

.comment {
  position: relative;
  margin-bottom: 3px;
}
