@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@700&family=Montserrat&family=Poppins:wght@600&family=Russo+One&display=swap');

.backed_by {
  position: relative;
  padding-bottom: 80px;
}

.logo_title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.logo_title img {
  position: absolute;
  z-index: -1;
  width: auto;
  height: 100px;
  left: auto;
  -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
  mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}

.title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin: 130px 0 50px;
  font-family: 'Alumni Sans', sans-serif;
}

.logo_wall {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-gap: 20px;
  width: 80vw;
  margin: 0 auto;
}

.logo_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 20px;
}

.logo {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}

.logo img {
  max-width: 100%;
  max-height: 55px;
}

.logo_1 img {
  max-width: 100%;
  max-height: 35px;
}

.logo_2 img {
  max-width: 100%;
  max-height: 30px;
}

@media (max-width: 768px) {
  .logo_wall {
    width: 100vw;
  }
}
