.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel {
  padding: 2rem;
  display: flex;
  align-items: end;

  background: url(https://media.st.dl.eccdnx.com//steam/apps/10150/0000008859.1920x1080.jpg)
    center/cover;
  background-repeat: no-repeat;
  width: 1062px;

  height: 595px;
}

@media screen and (max-width: 1024px) {
  .carousel {
    width: 690px;
    height: 386px;
  }
}

.carouselBtn {
  width: 143px;
  height: 34px;
}

.carouselText {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.carouselBtn {
  clip-path: polygon(0 0, 90% 0, 100% 30%, 100% 100%, 0 100%);
  border-radius: 0 !important;
}
