.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0;
  background-color: #13141f;
  height: 65vh;
}

.header {
  font-size: 2rem;
  font-family: 'Alumni Sans', sans-serif;
  margin-bottom: 2rem;
}

.settingsBox {
  background-color: #222430;
  width: 80%;
  padding: 5rem 7rem;
  height: 40rem;
  margin-top: 5rem;
  border-radius: 1.5rem;
}

.userDetailBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: 'Russo One', sans-serif;
  font-weight: regular;
}

.memberSince {
  color: #8d8d8d;
  font-size: 1rem;
}

.userDetailsLeft {
  display: flex;
  flex-direction: column;
}

.userDetailsRight {
  display: flex;
  align-items: center;
}

.saveButton {
  background: #6ddb03;
  color: black;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  border: none;
  height: 100%;
  width: 100%;
  display: block;
  clip-path: polygon(0 0, 90% 0, 100% 20%, 100% 100%, 0 100%);
  font-family: Poppins;
  font-weight: 600;
}

.saveButton:hover {
  background-color: darkgreen;
}

.divider {
  height: 1px;
  background-color: #5d5d5d;
  margin: 2rem 0 3rem;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputBox {
  display: flex;
  flex-direction: column;
  font-family: 'Russo One', sans-serif;
  color: white;
  font-size: 1.2 rem;
  font-weight: 200;
}

.inputField {
  background-color: transparent;
  border: 1px solid #5d5d5d;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 15rem;
  margin-left: 1rem;
}
