.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0;
  background-color: #13141f;
}

.header {
  font-size: 2rem;
  font-family: 'Alumni Sans', sans-serif;
  margin-bottom: 2rem;
}

.infoBox {
  background-color: #222430;
  width: 90%;
  height: 15rem;
  margin: 2rem 0;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.infoLeft {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.userImage {
  margin-right: 3rem;
  border-radius: 50%;
}

.userName {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin: 0;
}

.infoRight {
  display: flex;
  align-items: center;
}

.userDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  padding: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.detailNumber {
  font-size: 20px;
  padding-bottom: 0.8rem;
}

.detailCategory {
  font-size: 16px;
  margin: 0;
}

.title {
  font-size: 2rem;
  font-family: 'Alumni Sans', sans-serif;
  margin: 2rem 0;
}

.recentlyContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: auto;
  margin: 2rem 0;
  width: 90%;
  flex-wrap: wrap;
}
