@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@700&family=Montserrat&family=Poppins:wght@600&family=Russo+One&display=swap');

.footer {
  text-align: center;
  background-color: #13141f;
  border-top: 1px solid #3d3d3d;
}

.container {
  display: flex;
  text-align: left;
  margin: 3%;
  margin-bottom: 0;
}

.column_logo {
  font-family: 'Montserrat', sans-serif;
  padding-left: 6%;
  padding-bottom: 70px;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.85);
  padding-top: 35px;
}
.copy {
  margin-top: 35px;
}

.logo {
  width: 300px;
}

.column_about {
  line-height: 30px;
  padding-top: 40px;
  padding-left: 36%;
  padding-right: 10%;
}

h3 {
  font-family: 'Alumni Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
}

.column_team {
  line-height: 30px;
  padding-top: 40px;
}

ul {
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.85);
  font: 16px;
  font-weight: 700;
}

li:hover {
  color: #6ddb03;
}
