@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@700&family=Montserrat&family=Poppins:wght@600&family=Russo+One&display=swap');

.footer {
  text-align: center;
  background-color: #13141f;
  border-top: 1px solid rgba(61, 61, 61, 0.5);
  width: 100%;
}

.container {
  display: flex;
  text-align: left;
  margin: 2% 2% 0;
  padding-right: 10%;
}

.column_logo {
  font-family: 'Montserrat', sans-serif;
  padding-left: 6%;
  padding-bottom: 70px;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.85);
  padding-top: 35px;

  flex: 1 1 0;
}
.copy {
  margin-top: 35px;
}

.logo {
  width: 300px;
}

.column_about {
  line-height: 30px;
  padding-top: 40px;
  /* padding-left: 36%; */
  padding-right: 10%;
}

h3 {
  font-family: 'Alumni Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
}

.column_team {
  line-height: 30px;
  padding-top: 40px;
}

ul {
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.85);
  font: 16px;
  font-weight: 700;
}

li:hover {
  color: #6ddb03;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding-right: 0;
    align-items: center;

    padding-bottom: 50px;
  }

  .container > * {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .column_logo {
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
    display: flex;
  }

  .column_about {
    padding-left: 0;
    padding-right: 0;
  }

  .column_team {
    padding-left: 0;
    padding-right: 0;
  }
}
