.login_form_modal {
  display: inline-block;
  width: 30rem;
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0); Fallback color */
  background-color: rgba(36, 36, 41, 1); /* Black w/ opacity */
  padding-bottom: 35px;
  clip-path: polygon(0 23px, 130px 23px, 145px 0, 100% 0, 100% 100%, 0 100%);
}

/* close button */
.close_btn {
  float: right;
  margin-right: 5%;
  margin-top: 5%;
  color: #fff;
  background: transparent;
  border: 0cm;
  font-size: 35px;
  font-weight: lighter;
}

/* Close button on hover */
.close_btn :hover,
.close_btn :focus {
  color: rgba(109, 219, 3, 1);
  cursor: pointer;
}

.login_form {
  text-align: center;
  /* justify-content: center;
    align-items: center; */
  /* background-color: #fefefe; */
  margin: 5px auto;
  /* border: 1px solid #888; */
  width: 70%; /* Could be more or less, depending on screen size */
  color: rgba(205, 205, 205, 1);
  font-size: 18px;
  margin-top: 20%;
}

.login_title {
  margin-top: -10%;
  font-size: 36px;
}

.labels {
  margin-top: 10%;
  float: left;
  font-weight: 500;
}

/* Full-width inputs */
.login_input {
  font-size: 18px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgba(109, 219, 3, 1);
  box-sizing: border-box;
  background-color: rgba(36, 36, 41, 1);
  border-radius: 8px;
  color: #fff;
}

/*  Styles for the login button */
.login_btn {
  width: 58%;
  height: 42px;
  border: none;
  background-color: #6ddb03;
  border-radius: 3px;
  color: rgba(61, 61, 61, 1);
  font-size: 18px;
  font-weight: 800;
  margin-top: 14%;
  padding: 1px 30px;
}

.login_btn:hover {
  cursor: pointer;
}

.forgotPwd_btn {
  width: 58%;
  height: 42px;
  border: 1px solid #6ddb03;
  background-color: rgba(36, 36, 41, 1);
  border-radius: 3px;
  color: #6ddb03;
  font-size: 18px;
  font-weight: 800;
  margin-top: 7%;
}

.forgotPwd_btn:hover {
  cursor: pointer;
}

.create_account {
  margin-top: 15%;
  color: rgba(107, 214, 7, 1);
  font-weight: 700;
}

.create_account:hover {
  text-decoration: underline;
  cursor: pointer;
}

.term_policy_box {
  display: flex;
  justify-content: space-around;
  margin-top: 7%;
  font-size: 14px;
  color: rgba(140, 136, 136, 1);
  text-decoration: underline;
}
