.login-form-modal {
  display: none; /* Hidden by default - none */
  position: fixed; /* Stay in place -fixed */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 535px; /* Full width */
  height: 640px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0); Fallback color */
  background-color: rgba(36, 36, 41, 1); /* Black w/ opacity */
  padding-top: 60px;
  clip-path: polygon(0 23px, 130px 23px, 145px 0, 100% 0, 100% 100%, 0 100%);
}

.login-form {
  text-align: center;
  /* justify-content: center;
    align-items: center; */
  /* background-color: #fefefe; */
  margin: 5px auto; /* 15% from the top and centered */
  /* border: 1px solid #888; */
  width: 70%; /* Could be more or less, depending on screen size */
  color: rgba(205, 205, 205, 1);
  font-size: 18px;
}

/* close button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}
/* Close button on hover */
.close:hover,
.close:focus {
  color: rgba(109, 219, 3, 1);
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

.login-title {
  margin-top: -10%;
  font-size: 36px;
}

.labels {
  margin-top: 10%;
  float: left;
  font-weight: 500;
}

input:required {
  /* box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85); */
}

/* Full-width inputs */
input[type='text'],
input[type='password'] {
  font-size: 18px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgba(109, 219, 3, 1);
  box-sizing: border-box;
  background-color: rgba(36, 36, 41, 1);
  border-radius: 8px;
  color: #fff;
}

/*  Styles for the login button */
.login-btn {
  width: 56%;
  height: 42px;
  border: none;
  background-color: #6ddb03;
  border-radius: 3px;
  color: rgba(61, 61, 61, 1);
  font-size: 18px;
  font-weight: 800;
  margin-top: 14%;
  padding: 1px 30px;
}

.forgotPwd-btn {
  width: 56%;
  height: 42px;
  border: 1px solid #6ddb03;
  background-color: rgba(36, 36, 41, 1);
  border-radius: 3px;
  color: #6ddb03;
  font-size: 18px;
  font-weight: 800;
  margin-top: 7%;
  padding: 8px 30px;
}

.create-account {
  margin-top: 15%;
  color: rgba(107, 214, 7, 1);
  font-weight: 700;
}

.create-account:hover {
  text-decoration: underline;
}

.term-policy-box {
  display: flex;
  justify-content: space-around;
  margin-top: 7%;
  font-size: 14px;
  color: rgba(140, 136, 136, 1);
  text-decoration: underline;
}
